/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: none;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* END CSS RESET */

/* CSS VARIABLES */

:root {
  /* Colors */
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;

  /* Spacing */
  --spacing-1400: 7rem;
  --spacing-1000: 5rem;
  --spacing-900: 4.5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;

  /* Typography */
  --text-size-1: 4rem;
  --text-size-2: 2.5rem;
  --text-size-3: 1.125rem;
  --text-size-4: 1rem;
  --line-height-1: 110%;
  --line-height-2: 150%;
  --letter-spacing-1: 0;
  --letter-spacing-2: 0.25em;
}

body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem var(--spacing-1000) 0 var(--spacing-1000);
  gap: var(--spacing-100);
  align-self: stretch;
  margin-bottom: var(--spacing-800);
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero-img-left,
.hero-img-right {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-300);
  padding: 0 var(--spacing-400) var(--spacing-400) var(--spacing-400);
}

h1 {
  color: var(--slate-900);
  text-align: center;
  font-size: var(--text-size-2);
  font-weight: 900;
  line-height: var(--line-height-1);
}

p {
  color: var(--slate-600);
  text-align: center;
  font-size: var(--text-size-4);
  font-weight: 500;
  line-height: var(--line-height-2);
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
}

.download-btn {
  width: 12.0625rem;
  display: flex;
  padding: var(--spacing-200) var(--spacing-500);
  gap: var(--spacing-100);
  border-radius: 1.8125rem;
  border: none;
  font-size: var(--text-size-4);
  font-weight: 900;
  line-height: var(--line-height-2);
  color: white;
  cursor: pointer;
}

.download-btn.one {
  background-color: var(--cyan-600);
}

.download-btn.one:hover {
  background-color: #71c0d4;
}

.sp-text.top {
  color: var(--cyan-300);
}

.what-is-it-btn {
  width: 10.0625rem;
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: 1.8125rem;
  border: none;
  background: var(--purple-600);
  color: white;
  font-size: var(--text-size-4);
  font-weight: 900;
  line-height: var(--line-height-2);
  cursor: pointer;
}

.what-is-it-btn:hover {
  background-color: #b18bdd;
}

.product-description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-800)
    var(--spacing-400);
  gap: var(--spacing-800);
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 0.0625rem;
  height: var(--spacing-1000);
  background-color: var(--slate-300);
}

.number {
  display: flex;
  width: var(--spacing-700);
  height: var(--spacing-700);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--slate-300);
  background-color: white;
  color: var(--slate-600);
  font-weight: 900;
  line-height: var(--line-height-2);
  font-size: var(--text-size-4);
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-200);
}

.grid-image {
  border-radius: 0.5rem;
}

.description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-heading {
  margin-bottom: var(--spacing-200);
  color: var(--cyan-600);
  font-size: 0.75rem;
  font-weight: 900;
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-2);
  text-transform: uppercase;
}

h2 {
  margin-bottom: var(--spacing-400);
  color: var(--slate-900);
  font-size: 2rem;
  font-weight: 900;
  line-height: var(--line-height-1);
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.number-container.second {
  position: relative;
  top: 1.75rem;
  z-index: 1;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-800) var(--spacing-400);
  gap: var(--spacing-300);
  background: var(--cyan-600) url("./assets/mobile/image-footer.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}

.footer-heading,
.footer-text {
  color: white;
  margin-bottom: 0;
}

.download-btn.two {
  background-color: var(--purple-600);
  display: flex;
  justify-self: center;
}

.download-btn.two:hover {
  background-color: #b18bdd;
}

.sp-text.bottom {
  color: var(--purple-300);
}
